<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>

    <link rel="stylesheet" href="../static/index.css">
  </head>

  <body>
    <div id="aboutMe">
      자기 소개
    </div>
    <div id="center">
      <img src="../static/img/선희수.jpg" alt="증명 사진" id="myImg">
      <br>
      <div id="logo">
        <img src="../static/img/GitHub-Mark-Light-120px-plus.png" alt="github_logo" id="githubLogo">
        &nbsp;&nbsp;
        <img src="../static/img/blog_logo.png" alt="blog_logo" id="blogLogo">
      </div>
    </div>
  </body>

</html>
