html {
  /* overflow-y: hidden; */
}

html,
body {
  margin: 0;

  padding: 0;

  width: 100%;
  height: 100%;

  scroll-behavior: smooth;
}


div#skills {
  position: absolute;

  top: 150px;
  left: 50px;

  border-color: white;
  border-width: 1px;
  border-style: groove;

  width: 24vw;
  height: 79.5vh;

  color: white;
}


div#center {
  position: absolute;
  left: 50%;
  top: 24%;

  transform: translate(-50%, -50%);
}


img#myImg {
  display: block;

  margin: auto;

  width: 150px;

  border-color: black;
  border-width: 1px;
  border-style: groove;
  border-radius: 150px;
}


div#logo {
  text-align: center;
}

img#githubLogo {
  width: 30px;
  height: 30px;
}


img#instagramLogo {
  width: 30px;
  height: 30px;
}


img#blogLogo {
  width: 30px;
  height: 30px;
}


img.logo {
  border-radius: 15%;
  border-color: white;
  border-width: 1px;
  border-style: groove;

  padding: 15px;
}


p#title {
  text-align: center;

  font-size: larger;
  font-weight: 500;

  color: coral;
}

div#word1 {
  font-size: xx-large;
  font-weight: bolder;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  text-align: center;
}


span#word2 {
  font-size: 24px;
  font-weight: 850;
}


img.skills-logo {
  width: 85px;
  height: 85px;
}


div#frontendLogo,
div#backendLogo,
div#frameworkLogo {
  text-align: center;
}


div#info {
  position: absolute;
  left: 30%;
  bottom: 9.2%;

  width: 60vw;
  height: 40vh;

  border-color: white;
  border-width: 1px;
  border-style: groove;

  color: white;

  padding: 2.4%;
}


p#infoTitle {
  font-size: 30px;

  text-decoration: overline;
}


p#infoMain {
  font-size: 15px;
}


span#myName {
  color: white;

  font-size: 15px;
}


div.section {
  position: relative;

  width: 100%;
  height: 100%;

  transition-delay: 20s;
}


div#thirdPage {
  background-color: wheat;
}


div#secondPage {
  background-color: black;
}


div#thirdPageMain {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);

  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;

  text-align: center;

  animation-name: firstPage;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


div#firstPage {
  height: 100%;
  background-color: darkgrey;

  background: url(../static/img/back.jpg);
  background-size: cover;
  opacity: 85%;
}


div#portfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;

  font-size: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}


span.word {
  animation-name: portfolio;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes portfolio {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}


div#firstPageScroll {
  position: absolute;
  top: 65%;
  left: 50%;

  transform: translate(-50%, -50%);
}


img#scrollDown {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 85px;
  height: 85px;

  border-radius: 15%;
  border-color: brown;
  border-width: 1px;
  border-style: groove;
}


.nav-link {
  cursor: pointer;
}
